<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start">
        <ion-icon name="arrow-round-back"></ion-icon>
    </ion-back-button>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <div class="addPost" #newPost>
        <ion-textarea #d id="newData" placeholder="What's in your mind ?"></ion-textarea>
        <!-- (onclick)="addPost(newPost.value)" -->
        <ion-button class="float-right" color="primary" (click)="addPost(d)">Post</ion-button>
      </div>
    </ion-item-group>
  </ion-list>

  <ion-item-group *ngFor="let user of users | async ">
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="../../assets/userImg.jpg"></ion-img>
      </ion-avatar>
      <ion-label>
        <ion-text>
          <h2>{{ user.name }}</h2>
        </ion-text>
        <ion-text>
          <h2>{{ user.id }}</h2>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate debitis fugit illo magnam, saepe dicta esse excepturi temporibus fuga repudiandae sint fugiat nihil. Labore praesentium consequuntur exercitationem earum, et blanditiis!</p>
        </ion-text>
        <ion-icon name="thumbs-up" class="icons"></ion-icon>
        <ion-icon name="chatboxes" class="icons"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>
